/* la partie responsive mobile */
@media screen and (max-width: 665px) {
    .section-nav {
      border-bottom: #9CAFC7 solid 1px;
      padding-right: 30px;
      padding-left: 30px;
    }
  
    .block-menu-hamburger {
      width: 35px;
      display: block;
      cursor: pointer;
    }
  
    .block-menu{
      width: auto;
      text-align: center;
      display:flex;
      flex-direction: column;
      position: relative;
      top: 135px;
      /* left: 238px; */
      background: #fff;
      border-radius: 5px;
      display: flex;
      padding: 10px;
      margin-right: 5px;
      display: none;
    }
    .block-menu-visible {
      display: flex;
    }
    .nav-menu-item {
      /* margin-bottom: 10px; */
      margin-top: 10px;
    }
   
    .nav-menu-item::after {
      content: '';
      display: none;
    }

    .section-header {
      width: 100%;
      height: 70%;
      /* background-color: aqua; */
      background-image: url("../images/br.jpg");
      background-position: center;
      background-size: cover;
      
    }
    .section-header .btn-download-cv {
      display: none;
    }
  }

  @media screen and (max-width: 420px) {
    .section-header {
      height: 60%;
    }
    .block-menu{
      left: 80px;
    
  
    }
  }

  @media screen and (max-width: 330px) {
    .block-menu{
      left: 60px;
    }
  
  }