*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  font-size: 1rem;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: inherit;
}

/* navbar section  */

.section-nav {
  margin: 0 auto;
  height: 70px;
  width: 100%;
  max-width: 1500px;
  background: #FBEDED;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-nav .logo-site {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;

}
.section-nav .logo-site img {
  width: 100%;
  border-radius: 50%;
}

.nav-menu-item {
  font-size: 1.2rem;
  color: rgb(78, 78, 78);
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
  margin-right: 20px;
}
.nav-menu-item:hover {
  color: #000;
}
.nav-menu-item::after {
  content: '';
  display: block;
  background-color: #f1f1f1;
  background:rgb(22, 22, 22);
  width: 0;
  height: 4px;
  margin: 5px auto 0 auto;
  border-radius: 2px;
  transition: width 0.3s;
}
.nav-menu-item:hover::after {
  width: 100%;
  color: #000;
}

.block-menu-hamburger {
  width: 35px;
  display: none;
}
.block-menu-hamburger img{
  width: 100%;
  
}

.section-header {
  width: 100%;
  height: 80%;
  /* background-color: aqua; */
  background-image: url("https://images.unsplash.com/photo-1590177600178-c2597bd63ea7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=794&q=80");
  background-size: cover; 
  background-position: center;
}









/* pour mobile */
/* .block_menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
} */